body{
    background-color: rgb(0, 0, 0);
  }
  .main{
    width:100%;
    height:80%;
    background-color: rgb(7, 7, 7);
  }
  .banner{
    z-index: -1;
  }
  .solarsystem{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #EEE;
    position: absolute;
    text-align: center;
    left: 10px;
    top: 18%;
    padding: 2px 50px 0px 700px;
  }
  .menu{
  position: fixed;
  display:flex;
  bottom: 3%;
  width: 100%;
  justify-content: space-between;
  }
  header{
  }
  li{
    display: inline-block;
    font-size: 20px;
    padding: 15px 25px;
    text-align: right;
    } 
  li > a{
   text-decoration: none;
   color: rgb(12, 12, 12);
   font-family: 'Open Sans Condensed', sans-serif;
   text-align: right;
   font-weight: 200
  }
  .nav-bar{
    background-color: rgb(216, 168, 10);
    text-align: right;
    position: absolute;
      color: rgb(255, 255, 255);
      list-style: none;
    top: 0;
    width: 100%;
    right:10px;
  }
  @media screen and (max-width: 600px) {
      li{
        display: inline-block;
        font-size: 12px;
        padding: 15px 25px;
        top: 0px;
        text-align: right;
        }
    h1{
      font-family: 'Open Sans Condensed', sans-serif;
      color: #EEE;
      text-shadow: 0.02em 0.02em 0 #333;
      line-height: 10px;;
      font-size: 5em;;
      position: absolute;
      top:30%;
      left:50px;
    }
    h2{
      font-family: 'Open Sans Condensed', sans-serif;
      color: rgb(221, 168, 23);
      text-shadow: 0.02em 0.02em 0 #333;
      line-height: 10px;;
      font-size: 3em;;
      position: absolute;
      top:25%;
      left:50px;
    }
    .planet-img{
      padding: 350px 120px 10px 120px;
    }
  .planetTitle {
      font-size: 40px;
      font-weight: bold;
      font-family: serif;
      color: white;
      text-align: center;
      line-height: 7px;
    }
  .link a{
      color: white;
      font-family: sans-serif;
      text-decoration: none;
        font-size:20px;
    }
   .description{
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    color: white;
    text-align: center;
  }
   .planet-block{
        display: inline-block;
        width: auto;
        height: auto;
        background-color:rgb(0, 0, 0);
        padding: 20px;
        top: 100%;
      }
  }
  @media screen and (min-width: 768px) {
    .planetTitle {
      font-size: 60px;
      font-weight: bold;
      font-family: serif;
      color: white;
    }
    .link a{
      color: white;
      font-family: sans-serif;
      font-size:30px;
      text-decoration: none;
    }
    .description{
      font-size:20px;
      }
   .all-planets{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
      }
  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #EEE;
    text-shadow: 0.02em 0.02em 0 #333;
    line-height: 0.1;
    font-size: 200px;
    position: absolute;
    top:25%;
    left:50px;
  }
  h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(221, 168, 23);
    text-shadow: 0.02em 0.02em 0 #333;
    line-height: 0.1;
    font-size: 140px;
    position: absolute;
    top:7%;
    left:50px;
  }
  h3{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #EEE;
    text-shadow: 0.02em 0.02em 0 #333;
    line-height: 0.01;
    font-size: 80px;
    position: absolute;
    left:60px;
  }
  .planet-img{
    float:left;
    padding: 10px;
    shadow: 10px;
  }
  .planet-description{
  text-align: center;
  line-height: 170%;
  padding-left: 7px;
  }
  .description{
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    color: white;
    padding-top: 0.01em;
  }
  .planet-block{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color:rgb(0, 0, 0);
    padding: 100px;
  }
}
  
  